In [81]:
#Importing Libary

import selenium
import pandas as pd
from selenium import webdriver

In [176]:
#Driver

driver = webdriver.Chrome(r"C:\Users\shaik mahaboob basha\Downloads\chromedriver.exe")

Q1:  Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [83]:

url = 'https://www.naukri.com/' 

driver.get(url)

In [84]:
#entering Inputs in the feild

search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [85]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [86]:
# create dictionary
jobs={"Job_Title":[],"Company_Name":[],"Location_Name":[],"Experience_Required":[]}

In [89]:
lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
# scrape the data from website
for job in lst:
    driver.implicitly_wait(10)
    role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
    company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
    location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
    exp=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.experience").text
    jobs["Job_Title"].append(role)
    jobs["Company_Name"].append(company)
    jobs["Location_Name"].append(location)
    jobs["Experience_Required"].append(exp)

In [90]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(jobs)
df.head(10)

,Job_Title,Company_Name,Location_Name,Experience_Required
0,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
1,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
2,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
4,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
5,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
6,Data Analyst,WEIWO Communication Pvt. Ltd.,Bangalore/Bengaluru(Ulsoor),5-8 Yrs
7,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs
8,Senior Data Analyst,Cerner Corporation,Bangalore/Bengaluru,4-9 Yrs
9,Sr Manager I - Data Analyst (MINT),ExecBoardinAsia,Bangalore/Bengaluru,11-15 Yrs

Q2: Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [175]:
driver.close()

In [93]:
driver.get('https://www.naukri.com/')

In [94]:
#entering Inputs in the feild

search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [95]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [96]:
# create dictionary
jobs={"Job_Title":[],"Company_Name":[],"Location_Name":[],"Experience_Required":[]}

In [97]:
tnd=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
# scrape the data from website
for job in tnd:
    driver.implicitly_wait(10)
    role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
    company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
    location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
    exp=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.experience").text
    jobs["Job_Title"].append(role)
    jobs["Company_Name"].append(company)
    jobs["Location_Name"].append(location)
    jobs["Experience_Required"].append(exp)

In [98]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(jobs)
df.head(10)

,Job_Title,Company_Name,Location_Name,Experience_Required
0,Data Scientist,Fractal Analytics,Bangalore/Bengaluru,3-7 Yrs
1,Data Scientist - C3 Developer,Shell India Markets Private Limited,"Chennai, Bangalore/Bengaluru",4-6 Yrs
2,Principal Data Scientist - Product Development...,hCapital Executive Search,Bangalore,10-15 Yrs
3,Senior Data Scientist,Avom Consultants,"Pune, Bangalore/Bengaluru, Delhi / NCR",5-10 Yrs
4,Data Scientist- NIIT ltd.,NIIT Ltd.,Bangalore/Bengaluru,3-6 Yrs
5,Data Scientist - AI ML Team,CustomerXPs Software Pvt Ltd,Bangalore/Bengaluru,8-13 Yrs
6,Data Scientist - Algorithm/ Machine Learning,Ally -eXecutive HR Consulting Partner,Bangalore/Bengaluru,6-9 Yrs
7,Senior Data Scientist,ExecBoardinAsia,Bangalore/Bengaluru,5-10 Yrs
8,Data Scientist - KPO - IIT/NIT/BITS,TalentCo Search Pvt Ltd,"Mumbai, Bangalore/Bengaluru, Delhi NCR",2-7 Yrs
9,Staff Data Scientist (MINT),Walmart Labs,Bangalore/Bengaluru,8-12 Yrs

2.Please note that you have to scrape full job description. For that you may have to 
open each job separately as shown below

In [102]:
#Specific URl
import numpy as np
pages = np.arange(1, 100, 50)

for page in pages:
    url = "https://www.naukri.com/job-listings-lead-data-scientist-immediate-joiners-are-required-techolution-india-private-limited-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-9-to-14-years-130321000221?src=jobsearchDesk&sid=16169499389768717&xp=7&px=1" + str(page)

In [104]:
driver.get(url)

In [105]:
# create dictionary
job_title = []
job_descreption =[]

In [106]:
#job tag

title_tag = driver.find_elements_by_xpath("//h1[@class='jd-header-title']")
title_tag

In [107]:
for i in title_tag:
    title = i.text
    job_title.append(title)

job_title

['Lead Data Scientist - Immediate Joiners are Required']

In [110]:
#Job Description

#lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")


descr_tag = driver.find_element_by_xpath("//section[@class='job-desc']").text
descr_tag

"Job description\nWe are looking for qualified Lead Data Scientist who can independently drive Data Science & Data Analytics initiatives and manage the data science team, planning projects and building analytics models.\n\nTitle : Lead Data Scientist\nLocation: Complete Remote work with Partial travel to Mauritius\nExperience : 7 + years\n\nLooking for some one can join in in 10 days only\n\n\nRequired Skills :\nAdvanced Analytics\nMachine Learning Models\nR & Python\nData analysis and synthesis\nData development process\nData and Machine Learning integration design\nData modelling\nBuild the data pipelines leveraging DevOps CI/CD\nMetadata management\nStrong Communication Skills\nStrong Leadership Skills\n\nJob Responsibilities:\n\nDefine the Data Analytics Roadmap and drive the execution of same to drive business value for the organization.\nCoach the Analytics team on state-of-the-art advanced analytic, quantitative tools and modeling techniques required to derive business insights, solve complex business problems and improve decisions.\nPartner with the Analytics Translator lead to facilitate strategic workshops with Business Leaders to identify opportunities for leveraging company data to drive business solutions.\nSet up the advanced analytics environment that will enable the sustainable execution of the analytics roadmap (including exploring cloud and on-premise solutions such as Hadoop).\nMake daily prioritization decisions on data sources and environment capabilities accordance the roadmap.\nOversee the portfolio of analytics projects for the bank to ensure alignment and consistency across.\nDevelop standards and processes for analytics solution development and implementation across all critical functions of the company.\nOversee processes for extracting, analyzing and interpreting data to ensure that data integrity and accuracy prior to the development of analytical models.\nCollaborate with software engineers to map, produce, transform and test new data feeds for data owners and end-users\nInstill a culture of data-informed decision making across the bank by championing broader analytics initiatives across the Bank.\nOversee the quality and effectiveness of analytics models deployed across the bank.\nEnsure optimal staffing across analytics use cases and customer journey squads.\nSet up a community of practice for data practitioners to explore new techniques/ technologies to ensure sustained learning and growth.\nProvide thought leadership by researching best practices, conducting experiments and staying abreast of latest trends in analytical techniques such as machine learning, deep learning and text analytics to drive continuous innovative.\n\nIf you believe you are qualified and are looking forward to setting your career on a fast-track, apply by submitting a few paragraphs explaining why you believe you are the right person for this role.\nWhy Join Techolution?\nBe part of the next most admired high tech brand in the world and launch the next most exciting billion dollar IPO. We are looking for talent with amazing technical skills with a great foundation for the open role. The type of personalities that do very well at our company are people who are looking to contribute a larger than life cause. People who are looking for a very high growth environment where they are helping the company grow and also personally growing through a very unique and world-class exposure.\nWork Life at Techolution:\nAt Techolution, we do things a bit differently. There's no corporate nonsense, and no old-fashioned hierarchy. Instead, we work in dozens of self-sufficient, autonomous teams. Think of them like start-ups within a start-up that learn from each other. You are your own boss! We're going to be upfront the way we work doesn't suit everyone. But if freedom, autonomy, and life-affirming, head-scratching professional challenges rock your world, we could be a match made in heaven.\n\n\nTo know more about Techolution, visit our website: www.techolution.com\n\n\nThank You,\nMadhav\nEmail : madhav@techolution.com\nLead Talent Acquisition Specialist\nTecholution\nhttp://techolution.com\nRoleAnalytics Manager\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nData ScienceMachine LearningPython\nRAdvanced AnalyticsTime SeriesData Analytics\nSkills highlighted with ‘‘ are preferred keyskills"

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [119]:
url = 'https://www.naukri.com/' 

driver.get(url)
search_job = driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Scientist")


search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

driver.implicitly_wait(20)


check_location = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]").click()
check_salary = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p").click()

# create dictionary
jobs={"Job_Title":[],"Company_Name":[],"Location_Name":[],"Experience_Required":[]}

In [120]:
lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
# scrape the data from website
for job in lst:
    driver.implicitly_wait(10)
    role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
    company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
    location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
    exp=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.experience").text
    jobs["Job_Title"].append(role)
    jobs["Company_Name"].append(company)
    jobs["Location_Name"].append(location)
    jobs["Experience_Required"].append(exp)
    
    
# tranform data into dataframe
df=pd.DataFrame.from_dict(jobs)
df.head(10)

,Job_Title,Company_Name,Location_Name,Experience_Required
0,Data Scientist,NatWest Group,Delhi / NCR,4-8 Yrs
1,Data Scientist,itForte Staffing Services Private Ltd.,Gurgaon/Gurugram,3-8 Yrs
2,Data Scientist,Msg.ai,Gurgaon/Gurugram,3-5 Yrs
3,Data Scientist,NatWest Group,Gurgaon/Gurugram,4-8 Yrs
4,Data Scientist,NatWest Group,Delhi / NCR,4-8 Yrs
5,Data Scientist | Python | Machine Learning | D...,Careerera,Noida(Sector-59 Noida),3-8 Yrs
6,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
7,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,Noida,6-11 Yrs
8,GCP Presales AIML Architect & Data Scientist (...,Lecan Solutions Pvt Ltd,Noida,6-11 Yrs
9,Data Scientist Machine Learning,Delhivery,Gurgaon/Gurugram,1-3 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” 
in “location” field.
3. Then click the search button. You will land up in the below page:

In [3]:
url = ' https://www.glassdoor.co.in/Salaries/index.htm' 

driver.get(url)

In [4]:
search_job = driver.find_element_by_id("KeywordSearch").send_keys("Data Scientist")
search_location = driver.find_element_by_id("LocationSearch").send_keys("Noida")

In [5]:
search_btn = driver.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/button").click()

In [64]:
# create dictionary
jobs={"Company_Name":[],"Min_Salary":[],"Max_Salary":[],"Avg_Salary":[] }

In [63]:
Job_Title = []

#lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
# scrape the data from website
#for job in lst:
driver.implicitly_wait(10)
company=driver.find_element_by_xpath("/html/body/div[3]/div/div/div/div[11]/main/div/div[1]/div[2]/article/div[4]/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/p[2]").text
AvgSalary=driver.find_element_by_xpath("/html/body/div[3]/div/div/div/div[11]/main/div/div[1]/div[2]/article/div[4]/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/p[3]").text
MinSalary=driver.find_element_by_xpath("/html/body/div[3]/div/div/div/div[11]/main/div/div[1]/div[2]/article/div[4]/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/p[4]").text

In [65]:

jobs["Company_Name"].append(company)
jobs["Avg_Salary"].append(AvgSalary)
jobs["Min_Salary"].append(MinSalary)

In [72]:
jobs["Min_Salary"]

['Range: ₹336L - ₹1,080L']

In [11]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(jobs)
df.head(10)

Empty DataFrame
Columns: [Job_Title, Company_Name, Min_Salary, Max_Salary, Avg_Salary, Rating]
Index: []

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:

In [83]:

url = 'https://www.flipkart.com/' 

driver.get(url)

In [84]:
#entering Inputs in the feild

search_product = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input").send_keys("sunglasses")
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()

In [143]:
# create dictionary
flipkart={"product_name":[],"product_price":[]}

In [148]:
# scrape the data from website
driver.implicitly_wait(10)
product=driver.find_element_by_css_selector("a.IRpwTa").text
price=driver.find_element_by_css_selector("div._30jeq3").text
flipkart["product_name"].append(product)
flipkart["product_price"].append(price)

In [149]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(flipkart)
df.head()

                                      product_name product_price
0  UV Protection Over-sized Sunglasses (Free Size)          ₹349
1  UV Protection Over-sized Sunglasses (Free Size)          ₹349

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

In [152]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace' 

driver.get(url)

In [154]:
# create dictionary
flipkart={"product_rating":[],"product_review":[], "product_summary":[]}

In [156]:
# scrape the data from website
driver.implicitly_wait(10)
rating = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/div[4]/div[1]/div/div/div[1]/div").text
review = driver.find_element_by_css_selector("p._2-N8zT").text
summary = driver.find_element_by_css_selector("div.t-ZTKy").text

flipkart["product_rating"].append(rating)
flipkart["product_review"].append(review)
flipkart["product_summary"].append(summary)

In [157]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(flipkart)
df.head(10)

,product_rating,product_review,product_summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :

1. Brand
2. Product Description
3. Price
4. discount %

In [161]:
url = 'https://www.flipkart.com/' 

driver.get(url)

#entering Inputs in the feild

search_product = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input").send_keys("sneakers")
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()

In [162]:
# create dictionary
flipkart={"Brand":[],"Product_Description":[], "Price":[], "Discount % ":[]}

In [163]:
# scrape the data from website
driver.implicitly_wait(10)
brand = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div[2]/div[1]").text
description = driver.find_element_by_css_selector("a.IRpwTa").text
price = driver.find_element_by_css_selector("div._30jeq3").text
discount = driver.find_element_by_css_selector("div._3Ay6Sb").text

flipkart["Brand"].append(brand)
flipkart["Product_Description"].append(description)
flipkart["Price"].append(price)
flipkart["Discount % "].append(discount)

In [164]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(flipkart)
df.head(10)

    Brand                                Product_Description Price Discount %
0  Extoes  Relaxed Attractive Combo pack of 3 Sneakers Fo...  ₹629     57% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below image

In [167]:

url = 'https://www.myntra.com/shoes' 

driver.get(url)

In [170]:
color_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/span[1]").click()
price_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

In [172]:
# create dictionary
mytra={"Shoes":[],"Short Shoe Description":[], "Price":[]}

In [173]:
# scrape the data from website
driver.implicitly_wait(10)
shoe_name = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/ul/li[2]/a/div[2]/h3").text
shoe_description = driver.find_element_by_css_selector("h4.product-product").text
price = driver.find_element_by_css_selector("div.product-price").text

mytra["Shoes"].append(shoe_name)
mytra["Short Shoe Description"].append(shoe_description)
mytra["Price"].append(price)

In [174]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(mytra)
df.head(10)

             Shoes      Short Shoe Description                        Price
0  PUMA Motorsport  Men AIR ZOOM Running Shoes  Rs. 10796Rs. 13495(20% OFF)

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon

In [181]:

url = 'https://www.amazon.in/' 

driver.get(url)

In [182]:
#entering Inputs in the feild

search_product = driver.find_element_by_id("twotabsearchtextbox").send_keys("Laptop")
search_btn = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span").click()

In [183]:
filter1_btn = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/li[10]/span/a/span").click()
#filter2_btn = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/li[11]/span/a/span").click()

In [196]:
# create dictionary
Amazon={"Title":[],"Rating":[], "Price":[]}

In [200]:
# scrape the data from website
driver.implicitly_wait(10)
title = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[1]/div/span[3]/div[2]/div[5]/div/span/div/div/div[2]/div[2]/div/div[1]/h2/a/span").text
rating = driver.find_element_by_id("a-popover-content-3").text
price = driver.find_element_by_css_selector("span.a-price-whole").text

Amazon["Title"].append(title)
Amazon["Rating"].append(rating)
Amazon["Price"].append(price)

In [201]:
# tranform data into dataframe
df=pd.DataFrame.from_dict(Amazon)
df.head(10)

,Title,Rating,Price
0,HP 15 Entry Level 15.6-inch HD Laptop (AMD 302...,<selenium.webdriver.remote.webelement.WebEleme...,"24,686"
1,HP 15 Entry Level 15.6-inch HD Laptop (AMD 302...,3.9 out of 5\n374 global ratings\n5 star\n49%\...,"24,686"